<div class="t-pad center">
  <p>
    <span><strong>x_account_id</strong>: <i>(any non-empty value)</i></span>
    <br/>
    <span><strong>HMAC key</strong>: <code><%= key %></code></span>
  </p>
</div>
